doctype strict
html(lang="en")
  head
    meta(charset="utf-8")
    title Prism: The stone social network
    link(rel="stylesheet" href="style/main.css")
    link(rel="icon" href="favicon.svg")
    script(src="/socket.io/socket.io.js")
  body
    nav
      a.options.curr Home
      a.options(href="/post") Post
      a.options(href="/account") My Profile
    h1.title: span.highl Home
    div
      each val in posts
        div.post
          div.con
            div(publisher=`${val.author}`).avatar
            div.author= val.author
            div.timestamp= new Date(val.time).toLocaleString()
          div.title= val.title
          div.content= val.content
    script(type="module").
      import { getSVG } from "./decode.js";
      const sock = io();
      document.querySelectorAll("div.avatar[publisher]").forEach(async usr => {
        console.log(usr);
        let pub = usr.getAttribute("publisher");
        console.log(pub);
        sock.emit("getUsr", pub, prismic => {
          usr.innerHTML = getSVG(prismic);
        });
      });